{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if
        @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}"/>
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    {{!-- Buy Tickets Box --}}
                    <div class="box1 data-sticky-container">
                        <div class="plyr__video-embed" id="player">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/EFNFYKFTmj0?rel=0&amp;showinfo=0" frameborder="0"
                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="container-p10 text-center" data-sticky data-sticky-class="sticky">
                            <h2>Certificate Course in Jainism</h2>
                            <p>August Bank Holiday Weekend</p>
                            <p class="hide-on-sticky">Saturday 25th, Sunday 26th, Monday 27th August 2018 (all day
                                9.00am – 6.30pm) and Saturday 1st and Sunday 2nd September 2018.</p>
                            <p>
                                <a class="button btn100 btn-red" href="/tickets/jainism-course-aug2018/tickets">Buy
                                    Tickets</a>
                            </p>
                            <p class="hide-on-sticky" style="padding-bottom: 10px;">Venue: 64-68
                                Colindale
                                Avenue, London NW9 5DR. (5 minutes walk from Colindale Underground station)</p>
                            <p class="hide-on-sticky" style="padding-bottom: 10px;">
                                Weekday Lectures (Tues 28th-Fri 31st Evenings) - If you would like to attend additional weekday lectures
                                please contact Mukul Shah (mukul212@hotmail.com)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{!-- Speakers --}}
                    <div class="box1">
                        <div class="container-p10">
                            <h3>Speakers</h3>
                            <p><span class="text-bold">Dr Bipinbhai Doshi</span> – long serving Professor at Mumbai
                                University in India will be coming
                                specially to deliver aspects of this course will be present for the whole course and
                                deliver many sessions. He is very knowledgeable and teaches the subject of Jainism at
                                degree level for many years to hundreds of students at Mumbai university. He has
                                delivered this same course in crash course format in the USA in 2016 and is delivering
                                in USA in May 2018 prior to coming to UK for our course in August/September 2018.</p>
                            <p>
                                <span class="text-bold">Shramniji Shreenidhi and Shramniji Shrutniddhi from Chennai</span>
                                – well versed in English and
                                experts in Jain scriptures. Will give a guest talk on one or two of the days. While
                                shramniji are from the Sthanakvasi tradition, the topics will be generic as 99% of
                                Jainism is. The course is pan – sectarian so there will be balance everywhere from all
                                major jain traditions.</p>
                            <p>
                                <span class="text-bold">Youth speakers from the UK</span> – In order to relate to youth
                                and western life we will have
                                Youth speakers but this will all be vetted and ensured to make sure there is 100%
                                accuracy and quality. Will deliver one or two sessions a day with full AV capabilities
                                as well as framing introductions to the days/aspects taking advantage of technology.
                                Depending on capacity and availability we may have other guest speakers from experts in
                                certain fields.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{!-- Gunasthank --}}
                    <div class="box1">
                        <div class="container-p10">
                            <h3>Stages of Progress of the Soul due to development of its Qualities</h3>
                            <blockquote>
                                <p>
                                    "In Jainism fourteen stages are indicated through which the soul progresses from
                                    impurifying matter on to final liberation. The psychical condition of the soul due
                                    to the rising (Udaya), settling down and partly perishing of Karma matter
                                    (Kshyopasham) is called 'Gunasthan'".
                                </p>
                                <footer>Jain doctrine of 14 Gunasthanak</footer>
                            </blockquote>
                            <img src="/assets/img/gunasthan.jpg" class="img-responsive"
                                 alt="gunasthan">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    {{!-- Topics --}}
                    <div class="box1">
                        <div class="container-p10">
                            <h3>Topics</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>Introduction to Jainism and Jain philosophy</li>
                                        <li>History of Jainism & Life of Tirthankaras</li>
                                        <li>Ratnatraya - 3 jewels of Jainism</li>
                                        <li>Nav Tattvas - 9 fundamentals of reality</li>
                                        <li>Samaväy - Connection between action and causes</li>
                                        <li>Six Dravya - 6 materials of the universe</li>
                                        <li>Theory of Karma</li>
                                        <li>Leśyā - Colour of the Soul (jīva)</li>
                                        <li>Guṇasthāna - 14 stages spiritual development</li>
                                        <li>45 Ancient Agamas</li>
                                        <li>Meditation and Yoga</li>
                                        <li>Ahimsa and Vegetarianism</li>
                                        <li>The path to Moksha</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <img src="/assets/img/poster1.jpeg" class="img-responsive"
                                         alt="Ticket Poster">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="/assets/img/lesya.jpg" class="img-responsive"
                                         alt="Leshya Colouring of Soul">
                                    <blockquote>
                                        <p>
                                            "Leśyā is the coloring of the soul on
                                            account of its association with the karmic matter. The colour of leśyā
                                            varies
                                            from person to person depending on the psychic states and mental activities
                                            behind an action."
                                        </p>
                                        <footer>Jain Theory of Leśyā</footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-6">
                                    <ul>

                                        <li>Jain Finance, Jain Science, Jain Medicine, Jain Literature</li>
                                        <li>Heritage art and Architecture</li>
                                        <li>Prayer and its power</li>
                                        <li>life of monks and nuns</li>
                                        <li>Jain sects and diaspora</li>
                                        <li>Vedic and Sramana traditions</li>
                                        <li>Jain path of purification</li>
                                        <li>Science behind Pratikraman and Paryushan</li>
                                        <li>Panch Parmeshthi</li>
                                        <li>Jeev-vichar and Jain cooking, and many others</li>
                                    </ul>
                                    <img style="max-height: 300px;margin:auto;" src="/assets/img/blind-men-elephant.jpg"
                                         class="img-responsive"
                                         alt="Leshya Colouring of Soul">
                                    <blockquote>
                                        <p>
                                            "Anekāntavāda is the jain doctrine of multifaceted viewpoints. From
                                            different angles different people may all be correct to a degree. We can
                                            learn from and see the best from all, analyse the situation and consider the
                                            essence. Appreciating the view from all angles you can arrive closer to the
                                            truth,
                                            avoiding disagreements in the home, and wars in the nation."
                                        </p>
                                        <footer>Jain doctrine of Anekāntavāda</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{!-- Common Questions --}}
                    <div class="box1">
                        <div class="container-p10">
                            <h3>Common Questions</h3>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse1">
                                                Do I have to attend the whole course?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">No, each day will have different topics and so if you
                                            cannot make certain days you have the option to select certain days (see
                                            ticketing).
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse2">
                                                Why is there a charge?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">In Order for us to cover costs including India flights,
                                            accommodation, catering etc we have a nominal charge for everyone. The aim
                                            is to spread interest and knowledge.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse3">
                                                Is food provided?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">On the 5 full chargeable days listed above a full meal
                                            and snacks will be provided.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse4">
                                                Do I get a certificate?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">If you attend the whole course, Yes.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse5">
                                                Is the course non -sectarian?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">Yes, the course is designed non sectarian or
                                            pan-sectarian.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse6">
                                                Is it just for Jains?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body">Our aim is to not only bring the whole Jain community
                                            together but also those allied to the faith within movements such as:
                                            Ahimsa, animal rights, veganism, minimalist, Yoga, Alternative health,
                                            Healthy living, Martial arts philosophers, mental health professionals,
                                            mindfulness practitioners, allied faiths, etc to explore the Jain
                                            philosophy.
                                            The aim for theme and atmosphere is mutual appreciation, respect,
                                            celebration and exploration of a very deep and academic, yet simple and all
                                            -encompassing practical living philosophy.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse7">
                                                Why such long hours?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse7" class="panel-collapse collapse">
                                        <div class="panel-body">The hours are what we are offering for the whole day. If
                                            you have to leave early or come a little late on a particular day we would
                                            rather you came for as much of the day as you can than not come at all. It
                                            is too complicated to charge for less than a day so our charge rates are per
                                            day. Naturally, one needs to attend almost all the course for a certificate
                                            but this is not the main aim but an additional bonus for some.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{!--  Why should I come to this course? --}}
                    <div class="box1">
                        <div class="container-p10 course-why">
                            <h3>Why should I come to this course?</h3>
                            <ul>
                                <li><span class="emphasis">If you are a Youth</span>, there will be youth led sessions
                                    on many of the areas focusing
                                    on how it relates to you
                                </li>
                                <li><span class="emphasis">If you are a spiritual aspirant</span> – we have Shramniji
                                    present who will give a couple
                                    of special talks.
                                </li>
                                <li><span class="emphasis">If you are an accountant and Jain</span> – will have sessions
                                    on Jainism and Finance
                                </li>
                                <li><span class="emphasis">If you are a medic, dentist, engineer, scientist</span> –
                                    will have sessions on Jainism and
                                    Science.
                                </li>
                                <li><span class="emphasis">If you already know several aspects of Jainism</span> – a
                                    structured way to get a solid
                                    knowledge of aspects of this timeless faith
                                </li>
                                <li><span class="emphasis">When your kids (if older) or friends (if younger) ask you questions about your faith</span>
                                    – You will be able to give a brief or detailed answer as you like.
                                </li>
                                <li><span class="emphasis">If you are already a teacher for Jainism either for children or as an academic or
your kids</span> - a deeper understanding from an experienced teacher who teaches
                                    this as a
                                    University subject from Mumbai University.
                                </li>
                                <li><span class="emphasis">I am interested in Jain food and cooking</span> - Depending
                                    on interest from those who
                                    apply we may try to incorporate a session on Jain cooking and Jiv-vichar (subject to
                                    logistics)
                                </li>
                                <li><span class="emphasis">If you are a Youth trying to bolster your CV</span> – the
                                    course is certificated If you
                                    attend the whole course ( all 5 weekend days or compensate absence on a weekend day
                                    with hours on the Tuesday-Friday evening or daytime on those days)
                                </li>
                                <li><span class="emphasis">If you don’t care about a certificate</span> – don’t worry,
                                    it is not about the certificate
                                    just means a guarantee certain fundamental topics will be explored and provides an
                                    incentive to some people (don’t let this put you off 😊
                                </li>
                                <li><span class="emphasis">If you like to laugh</span> – we will have a comedy skit on
                                    one of the days and plan
                                    something light in some way daily – see advertisement video for an idea of how this
                                    will go.
                                </li>
                                <li><span class="emphasis">If you like Jain Indian food</span> – we will provide a nice
                                    hot meal daily and some snacks
                                    either mid morning or early evening on the 5 weekend days.
                                </li>
                                <li><span class="emphasis">If you want to meet fellow Jain friends and new people</span>
                                    – you can.
                                </li>
                                <li><span class="emphasis">If you are not Jain but a spiritual enthusiast</span> - You
                                    will get a grounding on a very
                                    ancient and peaceful philosophy in a comparative mutually respectful way. It will
                                    complement and add to your other experiences.
                                </li>
                            </ul>
                            <p>In short, whoever you are there will be something for you, whether you are: Ba,
                                Youth, Businessman, Professor, Parent, academic, spiritualist, or any of the above.
                                As in the video (please do watch this below) – they are all coming, are you coming.
                                Be there or Be square.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{!--  Videos --}}
                    <div class="box1">
                        <div class="container-p10 course-why">
                            <h3>References</h3>
                            <p>Below you will find a few good quality videos giving an audio visual flavour of a few of
                                the topics covered and about the depth and breadth of the Jain philosophy in ways you
                                may not have imagined.</p>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">

                                    {{!-- Ahimsa (English, 2 minutes) --}}
                                    {{!-- https://www.youtube.com/watch?v=IE0X6UjT-0s --}}
                                    <div class="item active">
                                        <div class="plyr__video-embed" id="player">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/IE0X6UjT-0s?rel=0"
                                                    frameborder="0" allow="autoplay; encrypted-media"
                                                    allowfullscreen></iframe>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>Ahimsa (English, 2 minutes)</h3>
                                            <p>Very moving clip helping us appreciate the depths of compassion</p>
                                        </div>
                                    </div>

                                    {{!-- Jiv-vichar (English Subtitles) --}}
                                    {{!-- https://www.youtube.com/watch?v=32si36KFCv8&t=444s --}}
                                    <div class="item">
                                        <div class="plyr__video-embed" id="player">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/32si36KFCv8?rel=0"
                                                    frameborder="0" allow="autoplay; encrypted-media"
                                                    allowfullscreen></iframe>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>Jiv-vichar Part 1 (English Subtitles, 26 minutes)</h3>
                                            <p>Classification and Understanding of Universal Living</p>
                                        </div>
                                    </div>

                                    {{!-- Jiv-vichar (English Subtitles) --}}
                                    {{!-- https://www.youtube.com/watch?v=32si36KFCv8&t=444s --}}
                                    <div class="item">
                                        <div class="plyr__video-embed" id="player">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/eL5pMUUSv6E?rel=0"
                                                    frameborder="0" allow="autoplay; encrypted-media"
                                                    allowfullscreen></iframe>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>Jiv-vichar Part 2 (English Subtitles, 26 minutes)</h3>
                                            <p>Classification and Understanding of Universal Living</p>
                                        </div>
                                    </div>


                                    {{!-- Jainism and Science ( 17 minutes – scientific truths explored). English subtitles.  --}}
                                    {{!-- https://www.youtube.com/watch?v=00UluXB_UNw --}}
                                    <div class="item">
                                        <div class="plyr__video-embed" id="player">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/00UluXB_UNw?rel=0"
                                                    frameborder="0" allow="autoplay; encrypted-media"
                                                    allowfullscreen></iframe>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>Jainism and Science (English Subtitles, 17 minutes)</h3>
                                            <p>Scientific truths explored</p>
                                        </div>
                                    </div>

                                    {{!-- Anekantavada (multi faceted viewpoints) ( 5 minute high quality AV clip). English.  --}}
                                    {{!-- https://www.youtube.com/watch?v=bKfB3fepI30 --}}
                                    <div class="item">
                                        <div class="plyr__video-embed" id="player">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/bKfB3fepI30?rel=0"
                                                    frameborder="0" allow="autoplay; encrypted-media"
                                                    allowfullscreen></iframe>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>Anekantavada (English, 6 minutes)</h3>
                                            <p>Multi-faceted Viewpoints</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section-title">
            <h2 class="uppercase">Our most recent Articles on Jain Philosophy & Way of Life</h2>
        </div>
        <div class="post-feed">
            {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>

{{#contentFor "scripts"}}
    <script>
        $(function () {
            var sticky = new Sticky('[data-sticky]', {});
        });
    </script>

{{/contentFor}}
